version: "3.8"

services:
  node-app:
    build:
      context: .
      dockerfile: Dockerfile.node
      
    ports:
      - "3000:3000"
    depends_on:
      - nlp-service
    env_file:
      - .env

  nlp-service:
    build:
      context: .
      dockerfile: Dockerfile.nlp
    ports:
      - "8000:8000"